body{
    font-family: Roboto, Arial;
    margin: 0;
    background-color: #fff;
}
header{
    width: 100%;
    background-color: #80c0f0;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    
}
 header nav{
    float: right;
}
header nav ul{
    list-style: none;

}
header nav ul li {
    display: inline-block;
    margin: 15px;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    transition: all 0.5s;
}
header nav ul li  :hover{
    color: rgb(27, 4, 131);}
    main h1, footer p{
    text-align: center;}

      
.foto {
        width: 300px; 
        height: auto;
        border-radius: 30px !important;
        display: block;
        margin :auto
        
      }
      
.texto {
        text-align: justify;
        margin-top: 10px;
    
        max-width:300px;
      }
footer{
    background-color: #80c0f0;
    color: #fff;
    padding: 15px 0;
    margin-top: 25PX;
    clear:both;
}
.card{
   display: flex;
  flex-direction: column; /* organiza os elementos verticalmente */
  align-items: center;    /* centraliza horizontalmente */
  justify-content: center;/* centraliza verticalmente (se necessário) */
  text-align: center;     /* centraliza o texto */
  padding: 20px;
   background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 14px 8px rgba(0, 0, 0);
  width: 300px; /* ajuste conforme preferir */
  margin: 0 auto; /* centraliza a card na tela */
  margin-top: 15px;
  margin-bottom: 15px;
}


@media (max-width: 480px) {

.card{
   display: flex;
  flex-direction: column; /* organiza os elementos verticalmente */
  align-items: center;    /* centraliza horizontalmente */
  justify-content: center;/* centraliza verticalmente (se necessário) */
  text-align: center;     /* centraliza o texto */

   background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 14px 8px rgba(0, 0, 0);

  margin: 0 auto; /* centraliza a card na tela */
  margin-top: 15px;
  margin-bottom: 15px;
}

.foto {
       
      width: 100%;        /* faz a imagem ocupar toda a largura do container */
    height: auto;       /* mantém a proporção da imagem */
    max-width: 100%;    /* garante que a imagem não ultrapasse o tamanho do container */
    border-radius: 8px;
        border-radius: 30px !important;
      
  
        
      }


}